@forward 'hero';
@use '../../components/buttons' as b;
@use '../../utilities/responsive';

// BANNER
.banner {
    background-color: var(--color-accent);

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 43px;
    }

    &__paragraph {
        font-size: 16px;
        padding: 1rem;
        color: var(--color-white);
        text-transform: initial;
    }

    &__arrow {
        display: flex;
    }

    .underline {
        text-decoration: underline;
    }
}

//MAIN

.main-cards__container {
    display: none;

    .main-cards {
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr;
        align-items: end;
        gap: var(--gap-content);
        margin: 32px 32px 0 32px;
    }
    
    .main-card {
        background-color: #343735;
        padding: 24px;

        &:hover {
            background-color: var(--color-black-60);
        }
    
        &__title {
            font-family: var(--font-headings);
            font-size: 25px;
            text-transform: uppercase;
            color: var(--color-white);
        }
    
        &__paragraph {
            font-family: var(--font-headings);
            font-size: 43px;
            font-style: italic; 
            color: var(--color-white);
            white-space: nowrap;
        }

        &__arrow {
            display: flex;
        }

        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.main__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main__paragraph {
        font-size: 20px;
        max-width: 57rem;
        color: var(--color-grey);
        line-height: 1.8;
        padding-bottom: 20px;
    }
}

.main__article-title {
    white-space: nowrap;
}

.main__articles {
    display: flex;
    gap: 15.5rem;

    .main__article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &-title {
            font-size: 50px;
            margin-bottom: var(--gap-large);
        }
        
        &-paragraph {
            margin-bottom: 1.5rem;
        }
    }
    
    .button__secondary {
        @include b.outline();
        transition: all 0.3s;

        &:hover {
            background-color: var(--color-grey);
            color: var(--color-white);
        }
    }
}

//SUPPLEMENTS

.supplements {
    background-color: var(--color-grey);
    
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__image {
        display: flex;
        width: 100%;
    }

    &__title {
        color: var(--color-white);
    }
    
    &__paragraph {
        margin-bottom: var(--gap-content);
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--color-white);
        padding: 60px;
        text-align: center;
    }

    .button__primary {
        @include b.default();
    }
}

//ARTICLES

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap-content);
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        margin: var(--gap-content) 0 var(--gap-large);
    }

    &__paragraph {
        margin-bottom: 1.5rem;
    }


    .button__secondary {
        @include b.outline();
        transition: all 0.3s;
        margin-bottom: var(--section-gap);

        &:hover {
            background-color: var(--color-grey);
            color: var(--color-white);
        }
    }
}

.breakline {
    margin-top: 15px;
    border: 1px solid #AAAAAA;
    opacity: 0.2;
    width: 100%;
}

//CLUB NEWS

.club-news__inner {
    padding-bottom: var(--section-padding);
}

.club-news__paragraph {
    text-align: center;
}

.clubs {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-content);

    &__title {
        font-size: 23px;
        font-family: var(--font-paragraphs);
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    
    &__coming-soon {
        display: grid;
    }
    
    &__list {
        margin-bottom: 1.5rem;
    }
    
    &__list a:nth-child(even) li {
        background-color: var(--color-white);

        &:hover {
        background-color: #fafafa;
        }
    }

    &__list a:hover li {
        background-color: #f2f1ed;
    }
    
}

.club {
    padding: 20px 40px;
    background-color: #F8F6F3;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        align-items: center;
    }

    &__grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    &__title,
    &__date {
        white-space: nowrap;
    }

    &__date {
        display: grid;
        justify-self: end;
        color: var(--color-grey-30);
    }

    &__arrow {
        display: grid;
        justify-self: end;
    }
}

.club__button {
    justify-self: end
}

.button__secondary {
    @include b.outline();
    transition: all 0.3s;

    &:hover {
        background-color: var(--color-grey);
        color: var(--color-white);
    }
}



//FOOTER
.site-footer {
    background-color: var(--color-grey);
    color: var(--color-white);

    &__container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 142px;
    }
}

footer {

    h3 {
        color: var(--color-white);
        font-size: 20px;
        font-family: var(--font-paragraphs);
        font-style: normal;
        font-weight: 800;
        margin-bottom: var(--gap-large);
    }
    
    a {
        color: var(--color-white);
        text-decoration: underline;
        text-transform: none;
        font-size: 16px;
        margin-bottom: 0.7rem;
        white-space: nowrap;
        font-weight: 100;
    }

    p {
        font-size: 16px;
        margin-bottom: var(--gap-large);
    }

    .footer__links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 113px;
    }
}


.customer-service,
.about-us,
.social,
.download {
    display: flex;
    flex-direction: column;
}

.social__links {
    display: flex;
    margin-bottom: 2.5rem;
    gap: var(--gap-large);
}


// Responsive section

@include responsive.max(1400px) {

    .clubs {
        // flex-wrap: wrap;
    }
    
}

@include responsive.max(1350px) {

    .supplements__title {
        font-size: 45px;
    }

    .footer__paragraph {
        max-width: 600px;
    }

    .site-footer__container {
        grid-template-columns: 1fr;
        gap: 100px;
    }
    
}


@include responsive.max(1200px) {
  
    .main-cards__container {
        display: block;
    } 
}

@include responsive.max(1150px) {

    .main__articles {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: var(--gap-content);
        text-align: center;
    }

    .supplements {
        
            &__container {
                grid-template-columns: 1fr;
            }
        
            &__image {
                aspect-ratio: 2;
            }
    }

    
    .article {
        
        &-news__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .button__secondary {
            margin-bottom: var(--gap-large);
        }
        
    }

    .articles {
        grid-template-columns: 1fr 1fr;
        gap: var(--section-gap-inner);

        p {
            max-width: 400px;
        }
    }

    .breakline {
        margin-top: var(--section-padding);
    }
    
    }
    
@include responsive.max(1024px) {

    .clubs {
        grid-template-columns: 1fr;
    }

    }
    
@include responsive.max(750px) {

    /* Animation som rullar texten från höger till vänster */
    @keyframes scroll {
        from {
        transform: translateX(100%); /* Börja utanför viewport till höger */
        }
        to {
        transform: translateX(-100%); /* Sluta utanför viewport till vänster */
        }
    }
    
    .banner {
        white-space: nowrap; /* Håll allt på samma rad */
        overflow: hidden; /* Se till att det inte blir extra rullning */
    }
    
    .banner__paragraph {
        display: inline-block; /* Gör texten inline för att kunna animera */
        animation: scroll 10s linear infinite; /* 10 sekunders rullning på repeat */
    }
 
    .articles {
        grid-template-columns: 1fr;
    }
  
    footer .footer__links {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--section-gap-inner);
    }
    
    }

@include responsive.max(650px) {

    .main-cards__container .main-card {
        padding: var(--gap-large);
    }

    .club {
        padding: var(--gap-large);

        &__date {
            padding: 0 var(--gap-large);
        }

        &__title,
        &__date {
            white-space: wrap;
        }

    }
}