@mixin default(
    $background: var(--color-accent),
    $color: var(--color-white),
    $border-radius: var(--border-radius) 
    ) {
        background-color: $background;
        color: $color;
        padding: 0.7rem 1.5rem;
        font-family: var(--font-paragraphs);
        text-decoration: none;
        display: inline-block;
        border-radius: $border-radius;
        letter-spacing: 1.3px;
    }
    
    @mixin outline(
        $background: transparent,
        $color: var(--color-black),
        $border-radius: var(--border-radius),
        $border-color: var(--color-grey)
    ) {
        background-color: $background;
        color: $color;
        padding: 0.7rem 1.5rem;
        font-family: var(--font-paragraphs);
        text-decoration: none;
        display: inline-block;
        border: 2px solid $border-color;
        border-radius: $border-radius;
        letter-spacing: 1.3px;
    }

    