h1, h2, h3, h5, h6 {
    font-family: var(--font-headings);
    font-weight: 400;
    font-style: italic;
    margin: 0;
    padding: 0;
    color: var(--color-grey);
}

h1 {
    font-size: 120px;
    color: var(--color-white);
}

h2 {
    font-size: 65px;   
}

h3 {
    font-size: 65px;   
}

h4 {
    font-family: var(--font-paragraphs);
    font-size: 25px; 
}

h5 {
    font-size: var(--font-size-2); 
}

h6 {
    font-size: var(--font-size-1);
}

a {
    font-family: var(--font-paragraphs);
    font-size: 13px;
    font-weight: 700;
    color: var(--color-black);
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    line-height: var(--line-height);
}

p {
    margin: 0;
    padding: 0;
    font-family: var(--font-paragraphs);
    font-weight: 400;
    line-height: var(--line-height);
}

blockquote {
    line-height: var(--line-height);  
}

ul {
    margin: 0;
    padding: 0;
}

li {
    line-height: var(--line-height);  
    list-style: none;
    margin: 0;
    padding: 0;
}